body{
    display: flex;
    margin: 0px;
}

.img {
    content: url(./assets/background.jpg);
    height: 100vh;
    width: 35%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-text {
    margin-top: 200px;
}